{% load staticfiles %}
    <html>
         <head>
        
           <title>My first blog</title>

             <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
             
         
</head>
           
    <body>
          
    <div class="page-header">
          
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
       
    {% endif %}

  <!-- <h1><a href="/">This is my first Blog</a></h1>
   <div class="offset1 span5">
            <p class="about-this-blog">
              Hi, I'm Tanya , and welcome to my blog. I write about Python, Django, and much more.
            </p>
          </div>-->
    
   
</div>
<div class="slider">
                <div class="itemSlider">
                    <div class="bgSlide"></div>
                    <div class="descSlide">
                        <h1><a href="/">This is my first Blog</a></h1>
                        <p>and my Final Project</p>
                        <span>This is CS50...</span>
                        <p>Hi, I'm Tetiana Oliinyk , and welcome to my blog. I write about Python, Django, and much more.</p>
                    </div>
                </div>
            </div>
<div class="nav">
                <ul class="menu">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/polls">Polls</a></li>
                    <li><a href="#top">About</a></li>
                    
                    
                </ul>
            </div>
    <div class="main">
    <div class="content container">
         <!-- <div class="leftCol">
                 <div class="row">
                   <p> Archive of publications </p>
                 </div>
                </div>-->
            <div class="rightCol">
            <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
      </div>
      </div>
              
    </div>
</div>
<p><a name="top"></a></p> 
<div class="footer">
                <div class="footerContent">
                                      
                    <div class="span1">
                        <h1>About me</h1>
                        <div class="borderBottom"></div>
                            <ul class="unstyled">
                            <li>Tetiana Oliinyk</li>
                            <li><a href="oltanyaleon@mail.ru">oltanyaleon@gmail.com</a></li>
                            <li>Kharkivska street , Sumy, Ukraine </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
    </html>